In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('AB_NYC_2019.csv')

In [9]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [10]:
df.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [12]:
df['price_per_night']= df['price']/df['minimum_nights']
df['price_per_night'].describe()

count    48895.000000
mean        70.174247
std        157.620388
min          0.000000
25%         20.000000
50%         44.500000
75%         81.500000
max       8000.000000
Name: price_per_night, dtype: float64

In [ ]:
from matplotlib import pyplot as plt
%matplotlib inline
plt.hist(df.price_per_night)
plt.xlabel('price_per_night')
plt.ylabel('Count')

In [ ]:
import seaborn as sns
sns.histplot(df.price_per_night)

In [29]:
for p in range(0,101,5):
    print(df['price_per_night'].quantile(p/100))

0.0
3.3333333333333335
6.166666666666667
10.0
15.0
20.0
24.5
29.0
33.333333333333336
38.5
44.5
50.0
55.5
63.0
72.5
81.5
96.66666666666667
111.0
140.0
200.0
8000.0

In [41]:
df.shape

(48895, 17)

In [42]:
df_no_outlier = df[df['price_per_night'] <= df['price_per_night'].quantile(0.99)]
df_no_outlier.shape

(48408, 17)

In [43]:
for p in range(0,101,5):
    print(df_no_outlier['price_per_night'].quantile(p/100))

0.0
3.3333333333333335
6.071428571428571
9.833333333333334
14.75
19.833333333333332
24.103448275862068
28.571428571428573
33.13333333333321
37.80857142857151
43.333333333333336
50.0
55.0
62.5
70.0
80.0
93.75
107.0
133.0
182.5
443.0

In [44]:
df['price'].describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [45]:
for p in range(0,101,5):
    print(df['price'].quantile(p/100))

0.0
40.0
49.0
55.0
60.0
69.0
75.0
81.0
90.0
100.0
106.0
120.0
130.0
149.0
155.0
175.0
200.0
225.0
269.0
355.0
10000.0

In [46]:
print(df['price'].quantile(0.99))

799.0

In [49]:
df_no_outlier_2 = df[(df.price >= df.price.quantile(0.01)) &(df.price <= df.price.quantile(0.99))]
df_no_outlier_2.shape

(48017, 17)

In [50]:
df_no_outlier_2.price.describe()

count    48017.000000
mean       138.502010
std        103.694011
min         30.000000
25%         70.000000
50%        105.000000
75%        175.000000
max        799.000000
Name: price, dtype: float64